.Project {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 10px black;
}

.ProjectLearnMoreBtn:hover {
    cursor: pointer;
}

.ProjectLearnMoreBtn {
    font-family: 'Open Sans Bold', 'Arial Bold', 'Helvetica Neue';
    font-size: 18px;
    color: #4A4A4A;
    background-color: white;
    float: right;
    margin-right: 15px;
    border-radius: 5px;
    min-height: 40px;
    box-shadow: 0px 2px 5px black;
}

.Row {
    height: 150px;
}

.ProjectLogo {
    margin-left: 2vw;
    margin-right: 2vw;
}

#SandroProject {
    background-image: linear-gradient(to bottom right,#004E92, #000428);
}

#TrophizProject {
    background-image: linear-gradient(to top right, #22E1FF, #1D8FE1, #625EB1);
}

#UdemyProject {
    background-image: linear-gradient(to right, #701A52, #CF3C52, #CC4549);
}