#RowImage {
    text-align: center;
}

#RowText {
    font-size: calc(3px + 2vmin);
    margin-top: 25px;
}

#BienvenueContainer {
    min-width: 55%;
    max-width: 85%;
}

#Hello {
    text-align: center;
}

.BoldText {
    font-family: 'Open Sans Bold';
    color: white;
}