.Footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Open Sans';
    font-size: calc(5px + 2vmin);
}

.SocialIcon {
    margin: 10px;
}

#InviteToConnect {
    margin-bottom: 20px;
}