.Footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
    color: white;
    font-family: 'Open Sans', 'Arial', 'Helvetica Neue';
    font-size: calc(3px + 2vmin);
}

.SocialIcon {
    margin: 10px;
}

#InviteToConnect {
    margin-bottom: 20px;
}