#NavBar {
    padding-top: 30px;
    padding-bottom: 55px;
}

.NavLink.active > span {
    color: white;
    opacity:1;
}

.NavLink > span {
    color: #FFFFFF;
    font-family: 'Open Sans Bold';
    font-size: 20px;
    opacity:0.65;
}